/### txt
-$txtheader = "Discover our summer selection from £6.50!";
/### content link
-$url       ="http://www.ideascomfort.co.uk/uk/";
-$index     ="index.aspx";
-$srcmedium =["?utm_source=NL&utm_medium=email","&utm_source=NL&utm_medium=email"];
-$campaign  ="&utm_campaign=0815_ete";
-$content   =["&utm_content=","url","garantie","livraison","paiement","contact","desabo","CGV"];
/### footer
-$haconfiance =["achat_confiance/","garanties.aspx","informations-livraison.aspx","paiement-securise.aspx","conditions-generales-de-vente.aspx"];
/### mentions
-$contactdesabo=["/tempsl_et_vous/contact.aspx?val=A","animation/DesinscriptionNewsletter.aspx"]
/### content link
/ logo
-$L1_1 = "http://www.ideascomfort.co.uk/uk/index.aspx?utm_source=NL&utm_medium=email&utm_content=logo"+$campaign;
/ Teaser text
-$L1_2 = $L2 = "http://www.ideascomfort.co.uk/boutique/rayon_evenement.aspx?pg=0&nbp=99&evenement_id=1085&utm_source=NL&utm_medium=email&utm_content=accroche"+$campaign;
/ pdt1
-$L3_2 = $L4_t1_c2_r1 = "http://www.ideascomfort.co.uk/uk/interests/garden-storage-furniture/comfort-duo-beach-kit/0567313.html?utm_source=NL&utm_medium=email&utm_content=pdt"+$campaign;
/ pdt2
-$L3_4 = $L4_t3_c1_r1 = "http://www.ideascomfort.co.uk/uk/interests/automobile/sunzapper-sun-filter/6578017.html?utm_source=NL&utm_medium=email&utm_content=pdt"+$campaign;
/ pdt3
-$L4_t1_c2_r3 = $L5_2 = "http://www.ideascomfort.co.uk/uk/clothing-accessories/personal-accessories/suitcase-strap/9730011.html?utm_source=NL&utm_medium=email&utm_content=pdt"+$campaign;
/ price
-$L4_t2_c1 = "http://www.ideascomfort.co.uk/boutique/rayon_evenement.aspx?pg=0&nbp=99&evenement_id=1085&utm_source=NL&utm_medium=email&utm_content=prix"+$campaign;
/ pdt4
-$L4_t3_c1_r3 = $L5_4 = "http://www.ideascomfort.co.uk/uk/interests/garden-storage-furniture/leisure-stool/5230313.html?utm_source=NL&utm_medium=email&utm_content=pdt"+$campaign;
/ selection button
-$L6 = "http://www.ideascomfort.co.uk/boutique/rayon_evenement.aspx?pg=0&nbp=99&evenement_id=1085&utm_source=NL&utm_medium=email&utm_content=bouton"+$campaign;
/### alt + title
-$title         = "IDEAS Comfort";
-$alt1_1        = "IDEAS Comfort";
-$alt1_2        = $alt2 = "Comfort during your holidays";
-$alt3_2        = $alt4_t1_c2_r1 = "Comfort duo beach kit";
-$alt3_4        = $alt4_t3_c1_r1 = "SUNZAPPER® sun filter";
-$alt4_t1_c2_r3 = $alt5_2 = "Suitcase strap";
-$alt4_t2_c1    = "Selection from £6.50";
-$alt4_t3_c1_r3 = $alt5_4 = "Leisure stool";
-$alt6          = "Discover our holiday selection";
/### footer
-$furl       =$url+$index+$srcmedium[0]+$content[0]+$content[1]+$campaign;
-$fgaranties =$url+$haconfiance[0]+$haconfiance[1]+$srcmedium[0]+$content[0]+$content[2]+$campaign;
-$flivraison =$url+$haconfiance[0]+$haconfiance[2]+$srcmedium[0]+$content[0]+$content[3]+$campaign;
-$fpaiement  =$url+$haconfiance[0]+$haconfiance[3]+$srcmedium[0]+$content[0]+$content[4]+$campaign;

/### mentions
-$lcontact =$url+$contactdesabo[0]+$srcmedium[1]+$content[0]+$content[5]+$campaign;
-$ldesabo  =$url+$contactdesabo[1]+$srcmedium[0]+$content[0]+$content[6]+$campaign;
-$lCGV     =$url+$haconfiance[0]+$haconfiance[4]+$content[0]+$content[7]+$campaign;